*{
    margin: 0;
    padding: 0;
    /*border: 2px solid red;*/
}

main{
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    min-width: 800px;
    background-color: aqua;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: none;
    min-height: none;
}

.interface{
    min-height: 800px;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    /*min height and width will be inserted with script*/
    border: 1px solid grey;
    border-radius: 7px;
}

h1{
    margin-left: 290px;
}

p{
    font-size: 24px;
}

button{
    font-size: 24px;
    background-color: aqua;
    padding: 20px;
    border: 2px solid black;
    border-radius: 9px;
}